@font-face {
  font-family: "SmoothFantasy";
  src: url("../fonts/SmoothFantasy.ttf");
  font-display: swap;
}

@font-face {
  font-family: "FantasyLand";
  src: url("../fonts/FantasyLand.ttf");
  font-display: swap;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --blue: #037ef3;
  --purple: #7552cc;
  --drak-blue: #2a44ff;
  --black: #2e2c30;
  --white: #ffff;
  --smaller: .75;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

p {
  font-family: "Montserrat";
  font-size: 19px;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}

/* small */

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* header  */

header {
  position: absolute;
  z-index: 10;
  padding: 0.3rem 0;
  top: 0;
  left: 0;
  width: 100%;
}

header nav {
  margin: 10px auto;
  /* padding: 0 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

header nav img {
  width: 100px;
}

header nav ul {
  display: flex;
  list-style: none;
  /* align-items: center; */
  /* background-color: white; */
  padding: 15px;
  /* border: 1px solid black;
  border-radius: 25px;
  -webkit-box-shadow: -7px 7px 0px 1px rgba(0, 0, 0, 0.97);
  -moz-box-shadow: -7px 7px 0px 1px rgba(0, 0, 0, 0.97);
  box-shadow: -7px 7px 0px 1px rgba(0, 0, 0, 0.97); */
}

nav ul a {
  font-family: "JosefinSans";
  text-decoration: none;
  padding: 0 0.8rem 0 0;
  color: white;
}

.main-nav-first,
.mobile-nav .main-nav li:nth-child(1) a {
  background-size: 800% 800%;
  padding: 6px 8px;
  padding-top: 10px;
  border-radius: 25px;
  transition: 0.8s;
  background: linear-gradient(222deg, #037ef3, #7552cc, #2a44ff, #7126f1);
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 205s ease infinite;
  animation: AnimationName 5s ease infinite;
}

nav ul li:nth-child(1) a:hover {
  color: var(--black);
  background: white;
}

.dropdown-profile li:nth-child(1) a {
  color: var(--black);
  background: white;
}
.user-list {
  position: relative;
  padding: 0 1.2rem 0 0;
}

.user-list:hover {
  cursor: pointer;
}

.user-list ul {
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px;
  gap: 4px;
  top: 24px;
  width: 146px;
}

.user-list i {
  font-size: 13px;
  transform: translateY(-4px);
}
.user-list-header p:nth-child(1) {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
  color: #fff;
  padding: 2px 11px 0 11px;
}
.user-list-header {
  display: flex;
  align-items: flex-start;
}

#dropdown-profile li {
  text-align: center;
  margin-bottom: 8px;
}
#dropdown-profile li a {
  padding: 0;
  color: var(--black);
}

header .container {
  padding-top: 5px;
  padding-bottom: 0;
}

/* section {
  height: 100vh;
} */

#container {
  height: 100%;
  background-color: #f0f0f0;
  position: relative;
}
.cursor-image {
  position: absolute;
  pointer-events: none;
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.1s ease;
}

.hero {
  height: 100vh;
  background: linear-gradient(222deg, #037ef3, #7552cc, #2a44ff, #7126f1);
  background-size: 800% 800%;
  /* background: var(--black); */
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}

.photo {
  position: absolute;
  width: 200px; /* Adjust according to your photo size */
  height: 322px; /* Adjust according to your photo size */
  background-size: cover;
}

.hero {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.her-content {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.hero img {
  position: absolute;
  filter: grayscale(1);
  width: 1700px;
  bottom: -470px;
  left: 50%;
  transform: translateX(-50%);
}
.her-content h1 {
  order: 2;
  font-family: "SmoothFantasy";
  font-size: 65px;
  line-height: 1.4;
  color: white;
}

.her-content h1 span {
  font-family: "SmoothFantasy";
  font-size: 135px;
}

.her-content p {
  font-family: "JosefinSans";
  font-size: 53px;
  font-weight: 300;
  color: white;
}

@media (max-width: 600px) {
  .her-content h1 {
    font-size: 47px;
    line-height: 0.9;
    margin-top: 21px;
  }
  .her-content p {
    font-size: 37px;
  }
  .her-content {
    text-align: center;
  }
}

.what {
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 60px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn {
  color: var(--blue);
  background-color: transparent;
  border: 0;
  position: absolute;
  font-size: 600%;
  z-index: 1000;
  margin-top: 82px;
}

.play-btn:hover {
  cursor: pointer;
}

video {
  width: 100%;
  /* width: 100%; */
  margin-top: 82px;
  border-radius: 50px; /*1*/
  border: 10px solid transparent; /*2*/
  background: linear-gradient(45deg, var(--blue), var(--purple)) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  border-radius: 25px;
  transition: 0.8s;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 205s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@media (min-width: 992px) {
  video {
    width: 600px;
  }
}

.video-section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.video-section img {
  position: absolute;
  z-index: -1;
  transform: translateY(-19%);
  width: 100%;
}

@media (max-width: 768px) {
  .video-section img {
    transform: translate(-28%, -32%);
    width: 1500px;
  }
  .video-section {
    position: relative;
    overflow-x: clip;
  }
}

.blob-container {
  background: transparent;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
}

.blob-container:after {
  content: "";
  width: 100vw;
  height: 100%;
  /* background: url("https://i.imgur.com/PsjPzdO.png"); */
  background-size: 200px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
}
.blob-container .blobs {
  width: 40vh;
  height: 40vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.cards .blob-container .blobs {
  left: 50%;
}
.why .blob-container .blobs {
  left: 10%;
}

.aura-section .blob-container .blobs {
  left: 50%;
}
.blob-container .blobs .blob {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  background-color: var(--blue);
  mix-blend-mode: multiply;
  filter: blur(80px);
}
.blob-container .blobs .blob.a {
  background-color: var(--purple);
  animation: circular2 10s linear infinite;
}
.blob-container .blobs .blob.b {
  background-color: var(--drak-blue);
  animation: circular 5s linear infinite;
}
.blob-container .blobs .blob.c {
  animation: circular 15s linear infinite;
}
@keyframes circular {
  0% {
    transform: translate(0, -100px);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(0, 100px);
  }
  75% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(0, -100px);
  }
}
@keyframes circular2 {
  0% {
    transform: translate(0, 100px);
  }
  25% {
    transform: translate(-100px, 0);
  }
  50% {
    transform: translate(0, -100px);
  }
  75% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 100px);
  }
}

.shade {
  position: absolute;
  top: 100vh;
  transform: translatey(-50%);
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: linear-gradient(transparent, var(--black), transparent);
}

.aura-section {
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 0;
}
.what-content {
  z-index: 1;
  /* left: 50%;
  transform: translateX(-50%); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what-images {
  margin-top: 50px;
}

.what-images img {
  width: 200px;
}

.what-images img:nth-child(1) {
  transform: rotate(350deg);
}
.what-images img:nth-child(3) {
  transform: rotate(10deg);
}
.what-images img:nth-child(2) {
  position: relative;
  margin-left: -50px;
  margin-right: -50px;
  z-index: 1;
}
/* .what-text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.what-text p {
  width: 50%;
} */

@media (max-width: 992px) {
  .what-text p {
    width: 100%;
  }
  .what-text {
    justify-content: center;
  }
}
/* .why .container {
  width: 100%;
} */

.cards-items {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 250px;
  height: 450px;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
  border-radius: 20px;
  backdrop-filter: blur(25px);
}

.cards-content {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.scrolling-container {
  display: block;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.scrolling-line {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease;
  align-items: center;
}

.scrolling-line img {
  width: 200px; /* Adjust according to your image size */
  height: auto;
  margin-right: 10px; /* Adjust spacing between images */
}

.scrolling-txt {
  padding: 60px 0;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 98vw;
  text-overflow: clip;
}
.line {
  padding: 3px;
  transition: 0.1s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-inv {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}

@media (max-width: 600px) {
  @keyframes marquee {
    0% {
      transform: translateX(-1000%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes marquee-inv {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-1000%);
    }
  }
}

.line2 {
  transform: translateX(-200%);
  animation: 50s linear infinite marquee;
}
.line1 {
  margin-bottom: -59px;
  animation: 50s linear infinite marquee-inv;
}

h2 {
  font-family: "SmoothFantasy";
  font-size: 30px;
  line-height: 1.4;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 39px;
  }
  p {
    font-size: 18px;
  }
}

.why {
  display: flex;
  justify-content: center;
}

.why h2 span {
  font-family: "JosefinSans";
}

.what-content p span {
  font-family: "SmoothFantasy";
  font-size: 21px;
}
footer {
  position: relative;
  text-align: center;
}
footer p {
  font-size: 15px;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
  color: white;
}

.hori {
  width: 533px !important;
  height: 190px !important;
  margin-left: -44px !important;
  margin-right: -10px !important;
}

.hori-hero {
  width: 533px !important;
  height: 300px !important;
  background-size: contain;
}

.events,
.global-event-desc {
  text-align: center;
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 0;
}

.events-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.events-container,
.global-event-content-container {
  z-index: 1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-content span {
  font-family: "SmoothFantasy";
  font-size: 21px;
  /* transition: 0.8s;
  background: linear-gradient(222deg, #037ef3, #7552cc);
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 205s ease infinite;
  animation: AnimationName 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.tapered {
  background: linear-gradient(222deg, #037ef3, #7552cc);
  background-repeat: no-repeat;
  background-size: 30% 0.2em;
  background-position: center bottom;
}

@media (max-width: 600px) {
  .tapered {
    background-size: 70% 9%;
  }
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: var(--black);
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: var(--black);

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  font-family: "JosefinSans";
  min-height: 87px;
  margin: 15px 0 15px;

  overflow: hidden;

  font-weight: bold;
  font-size: 25px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(1n) .ag-courses-item_bg {
  background-color: var(--blue);
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: var(--purple);
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: var(--drak-blue);
}
/* .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
} */

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.event-hero img {
  width: 100%;
}

.global-event-details-container-left span {
  font-family: "SmoothFantasy";
}

.global-event-details-container-right img {
  width: 200px;
  /* position: absolute; */
}

.global-event-details-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  flex-wrap: wrap;
}

.global-event-details {
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 0;
}

.global-event-details-container-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.global-event-details-container-right img:nth-child(1) {
  transform: translateX(50px) rotate(353deg);
}
.global-event-details-container-right img:nth-child(2) {
  position: relative;
  z-index: 1;
}
.global-event-details-container-right img:nth-child(3) {
  transform: translateX(-50px) rotate(7deg);
}

@media (max-width: 600px) {
  .global-event-details-container-right img {
    width: 130px;
  }
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background: var(--black);
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: "";
  display: table;
  clear: both;
}
/* -------------------------------- Main components -------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #7e57c2;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7e57c2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673ab7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: var(--black);
  border-radius: 2px;
  padding: 1em;
}
.cd-timeline-content .timeline-content-info {
  background: #2b343a;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.cd-timeline-content .timeline-content-info i {
  margin-right: 5px;
}
.cd-timeline-content .timeline-content-info .timeline-content-info-title,
.cd-timeline-content .timeline-content-info .timeline-content-info-date {
  width: calc(50% - 2px);
  display: inline-block;
}
@media (max-width: 500px) {
  .cd-timeline-content .timeline-content-info .timeline-content-info-title,
  .cd-timeline-content .timeline-content-info .timeline-content-info-date {
    display: block;
    width: 100%;
  }
}
.cd-timeline-content .content-skills {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cd-timeline-content .content-skills li {
  background: var(--black);
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
}
.cd-timeline-content p,
.cd-timeline-content .cd-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333c42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333c42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

.agenda p {
  font-family: "JosefinSans";
}

.why-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1000;
}

.why-mtd-card-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 19px;
}

.why-mtd-card-container .why-mtd-card {
  padding: 1rem;
  height: 4rem;
  background-color: var(--blue);
  border-radius: 30px;
  color: white;
  height: 170px;
  aspect-ratio: 1;
  padding: 16px;
  text-align: left;
  /* text-shadow: 1px 1px 0 var(--purple); */
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-mtd-card-container .why-mtd-card h1 {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

.why-mtd-card-container .why-mtd-card p {
  font-size: 14px;
  font-family: "JosefinSans";
}

.fixed-register-button {
  display: none;
  position: fixed;
  font-size: 25px;
  bottom: 3%;
  right: 4%;
  z-index: 99999;
  background-size: 800% 800%;
  padding: 10px 12px;
  border-radius: 25px;
  transition: 0.8s;
  background: linear-gradient(222deg, #037ef3, #7552cc, #2a44ff, #7126f1);
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 205s ease infinite;
  animation: AnimationName 5s ease infinite;
  color: white;
  text-decoration: none;
  font-family: "JosefinSans";
}

.five-years {
  margin: 30px;
  text-align: center;
}

.h2-number {
  font-family: "FantasyLand";
  font-size: 2rem;
  line-height: 0.1;
  color: var(--blue);
}

.h2-spacing {
  margin-bottom: 2rem;
}

.five-years h2 {
  font-size: 1.3rem;
  margin-bottom: 50px;
  display: inline-block;
}

.learn-more-button {
  background-size: 800% 800%;
  font-size: 1.2rem;
  padding: 15px 20px;
  border-radius: 25px;
  transition: 0.8s;
  background: linear-gradient(222deg, #037ef3, #7552cc, #2a44ff, #7126f1);
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 205s ease infinite;
  animation: AnimationName 5s ease infinite;
  color: white;
  text-decoration: none;
  font-family: "JosefinSans";
}

.learn-more-button:hover {
  color: var(--black);
  background: white;
}

.side-events {
  text-align: center;
  margin-top: 150px;
}

.side-events-container {
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.side-events-container .side-events-card {
  padding: 1rem;
  height: 4rem;
  border-radius: 5px;
  color: white;
  height: 350px;
  padding: 32px;
  text-align: left;
  margin: 10px;
}

.side-events-card:first-child {
  background-color: var(--blue);
  text-shadow: 1px 1px 0 var(--purple);
}

.side-events-card:last-child {
  background-color: var(--purple);
  text-shadow: 1px 1px 0 var(--blue);
}

.side-events-container .side-events-card h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  text-align: center;
}

.side-events-container .side-events-card p {
  font-size: 16px;
  font-family: "JosefinSans";
}

/* Responsive Navbar Code */

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 60px 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 981px) {
  header nav {
    margin: 10px auto;
    padding: 5px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 0;
    top: 0;
    z-index: -1;
    /* backdrop-filter: blur(10px); */
    width: 100%;
  }
  header nav ul {
    display: none;
  }
  .fixed-register-button {
    display: block;
  }
}

.hamburger button {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  backdrop-filter: blur(10px);
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -4.5px;
}

.hamburger .bar::after {
  top: 4.5px;
}

header .container {
  padding-top: 5px;
  padding-bottom: 0;
}

@media (min-width: 981px) {
  .hamburger {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
}

.mobile-nav img {
  margin-bottom: 38px;
  width: 70%;
}

.nav-content {
  position: fixed;
  top: 0;
  right: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--black);
  width: 70%;
  padding: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

nav ul a {
  text-decoration: none;
  padding: 0 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
  color: #fff;
}

.nav-content ul a {
  text-decoration: none;
  padding: 0 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: var(--fs--300);
  color: #fff;
}

ul {
  list-style: none;
}

.nav-blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgb(0 0 0 / 62%);
  z-index: 10;
}

.nav-content ul a {
  font-family: "JosefinSans";
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0 0.8rem;
  color: white;
}

@media (max-width: 466px) {
  .why-mtd-card-container .why-mtd-card {
    height: 160px;
  }
}

@media (max-width: 307px) {
  .why-mtd-card-container .why-mtd-card {
    height: 115px;
  }
}

.reg-typeform:first-child {
  height: 100vh !important;
}

.why-container-left {
  z-index: 1000;
}

.dropdown-list-mob a {
  color: var(--beige);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.dropdown-list-mob li {
  margin-bottom: 15px;
}

#mob-dropdown a {
  padding: 0;
  font-size: 15px;
}

.dropdown-head {
  text-decoration: none;
  padding: 0 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: var(--fs--300);
  color: #fff;
  font-family: "JosefinSans";
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0 0.8rem;
  color: white;
  display: flex;
  gap: 10px;
}

.list-cover {
  position: absolute;
  background: var(--black);
  width: 90%;
  height: 138px;
  transition: 0.25s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 99999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentBox {
  position: relative;
  width: 600px;
  height: 400px;
  background: url("../img/pc_pop_up.webp");
  border-radius: 20px;
  background-size: contain;
}

.contentBox a {
  font-family: Lato;
  text-decoration: none;
  color: rgb(165 59 18);
  background: rgb(254, 249, 198);
  border: 4px solid rgb(254, 249, 198);
  position: absolute;
  width: 172px;
  border-radius: 15px;
  height: 50px;
  text-align: center;
  left: 20%;
  transform: translateX(-50%);
  top: 81%;
  font-size: 27px;
  font-weight: 900;
  line-height: 1.55;
}

@media (max-width: 639px) {
  .contentBox {
    position: relative;
    width: 300px;
    height: 400px;
    background: url("../img/mobile_pop_ups2.webp");
    border-radius: 20px;
    transform: translate(-110%, -150%);
    background-size: contain;
  }
  .contentBox a {
    left: 50%;
  }
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgb(0 0 0 / 62%);
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  left: 17px;
  top: 17px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 1;
}
.close:hover {
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(254, 249, 198);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.team {
  margin-top: 84px;
}

.team h1 {
  font-family: "SmoothFantasy";
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: 100;
}

.team h1::after {
  content: "";
  background: url(../img/blob.png);
  background-size: contain;
  position: absolute;
  width: 500px;
  height: 500px;
  left: 206px;
  top: -22px;
  z-index: -2;
}

@media (max-width: 600px) {
  .team h1 {
    font-size: 35px;
  }

  .team h1::after {
    width: 300px;
    height: 300px;
    left: -19px;
    top: 74px;
  }
}


.team .images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  margin-top: 140px;
  justify-content: center;
  align-items: start;
}

.team-image {
  margin-bottom: 50px;
}

.team .images img {
  border-radius: 40px;
  margin-bottom: 15px;
}

.team .images p {
  text-align: center;
  width: 300px;
}

#team-name {
  font-family: "SmoothFantasy";
}
.team-image a {
  transition: 0.8s;
}

.team-image a:hover {
  filter: grayscale(0.4);
}


.ranking {
  display: flex;
  justify-content: center;
}

.wrapper > h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper {
  line-height: 1.5em;
  margin: 0 auto;
  padding: 2em 0 3em;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* background: #fff; */
  font-family: "Montserrat";
  text-align: center;
  color: white;
  font-weight: 500;
}

th {
  /*     background-color: #326295; */
  font-weight: bold;
  /* color: #fff; */
  white-space: nowrap;
}

td,
th {
  padding: 1em 1.5em;
  text-align: center;
  width: 50%;
}

tbody tr:nth-child(2n-1) {
  /* background-color: #f5f5f5; */
  transition: all 0.125s ease-in-out;
}
tbody tr:hover {
  background-color: rgba(79, 79, 79, 0.282);
}

td.rank {
  text-transform: capitalize;
}



.event_output {
  display: flex;
  justify-content: center;
}

.event_output a {
  font-size: 25px;
  z-index: 99999;
  background-size: 800% 800%;
  padding: 10px 12px;
  border-radius: 25px;
  transition: 0.8s;
  background: linear-gradient(222deg, #037ef3, #7552cc, #2a44ff, #7126f1);
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 205s ease infinite;
  animation: AnimationName 5s ease infinite;
  color: white;
  text-decoration: none;
  font-family: "JosefinSans";
}

/* merch  */
.merch-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  row-gap: 40px;
  width: 100%;
  margin: auto;
}

.merch-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.merch-item img{
  width: 300px;
  border-radius: 25px;
}
.merch-item p{
  font-family: "JosefinSans";
  color: var(--blue);
  text-align: center;
  font-size: 24px;
}

.merchandise h2{
  margin-top: 70px;
  text-align: center;
  color: white;
}

.countdown-container,
#headline,
ul.countdown-ul,
ul.countdown-ul li,
ul.countdown-ul li span,
.emoji {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.countdown-container {
  padding: 30px;
  border-radius: 20px;
  background-color: var(--blue);
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#headline {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

ul.countdown-ul li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

ul.countdown-ul li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 981px) {
  #headline {
    font-size: calc(1.5rem * var(--smaller));
  }

  ul.countdown-ul li {
    font-size: calc(1.125rem * var(--smaller));
    padding: calc(.1rem * var(--smaller));
  }

  ul.countdown-ul li span {
    font-size: calc(2rem * var(--smaller));
  }
}
